/* 
    Document   : connexion
    Created on : 9 mai 2015, 12:48:32
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/
body{

}
#connexion{
   text-align: center;
   width: 30%;
   padding-left: 3%;
/*   margin-left: 25%;*/
   
}
#logo{
    background-image: url(images/logo_2.png);
    height: 120px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 3%;
}
#entete{
    background-image: url(images/banniere.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 110px;
}
#photo{
    background-image: url(images/Cadena.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    margin-left: 23%;
    width: 13%;
}

form{
   /* background-color: cadetblue ;*/
    background-color:graytext;
    padding: 5px;
    border-radius: 10px;
}
#photo, #connexion{
    display: inline-block;
    margin-top: 3%;
    
}